@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: 244 244 242;
    --color-2: 232 232 232;
    --color-3: 187 191 202;
    --color-4: 73 84 100;
  }

  :root[data-theme='dark'] {
    --color-4: 241 246 249;
    --color-2: 155 164 180;
    --color-3: 57 72 103;
    --color-1: 20 39 78;
  }
}
