@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: 244 244 242;
    --color-2: 232 232 232;
    --color-3: 187 191 202;
    --color-4: 73 84 100;
  }
}
